@font-face {
    font-family: 'afons_infantbook';
    src: url('afonsinfant-book-webfont.woff2') format('woff2'),
         url('afonsinfant-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
	--cl_light: #FFFFFF;
	--cl_mid: #C8C8C8;
	--cl_dark: #1E1E24;
	--cl_focus: darkred;
	--fw_light: 400;
	--fw_reg: 600;
	--fw_bold: 900;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	background: var(--cl_light);
	font-family: 'Inter', sans-serif;
	font-size: 14pt;
	font-size: 1rem;
	line-height: 1.5;
    letter-spacing: .0002rem;
}

main {
	min-height: 80vh;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--cl_focus);
}

a:hover {
	color: black;
}

h1 {
	font-size: 1rem;
	font-weight: 200;
}

h1 a {
	color: black;
}

.title h1 {
	font-size: 1rem;
	font-weight: 600;
	line-height: 1.4;
}

h2 {
	font-size: 1rem;
	font-weight: 300;
	color: darkred;
}

.title h2 {
	font-size: 0.9rem;
	font-weight: 200;
		line-height: 1.5;
	margin-bottom: 1rem;
	color: grey;
}

h3 {
	font-size: 1rem;
	font-weight: 600;
}

h4 {
	font-size: 1rem;
	padding-bottom: .5rem;
}

.title {
	padding-top: .7rem;
}

.introduction {
	padding: 2rem 0;
	font-size: 1rem;
	font-family: 'afons_infantbook', serif;
	line-height: 1.2;
	color: black;
        letter-spacing: -.02rem;

}

.introduction a {
	color: darkred;
}

.introduction a:hover {
	color: black;
}

p, footer {
	padding-bottom: 1rem;
	font-family: 'afons_infantbook', serif;
	font-weight: var(--fw_light);
	line-height: 1.4;
}

.container {
	width: 90%;
	margin: auto;
}

.folio-section {
	padding: 1rem 0;
}

.cards {
	display: grid;
	grid-gap: 0.1rem;
	grid-template-columns: auto auto;

}

.card {
}

@media screen and (min-width: 30em) {
	
	.title h1 {
	font-size: 2rem;
	font-weight: 600;
	line-height: 1.4;
}
	
	.title h2 {
	font-size: 1.1rem;
	font-weight: 200;
		line-height: 1;
	margin-bottom: 1rem;
	color: grey;
}
	
	.introduction {
	font-size: 1.8rem;
	line-height: 1.4;
}
}

@media screen and (min-width: 60em) {
.container {
width: 60%;
}
.cards {
grid-template-columns: auto auto auto;
}

}


.expe-section {
	padding: 2rem 0;
}

.menu-section {
	padding: 2rem 0;
}

.menu {
	list-style: none;
}



img {
	width: 100%;
	height: auto;
}

ul {
	padding: 1rem 0;
}

.arrow {
  border: solid ;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 8px;
}

.strip a {
  color: silver;
}

.strip a:hover {
	color: black;
}


.arrows {
	display: flex;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
	color: darkred;
	      animation: animate  
                1.5s linear infinite; 
}

@keyframes animate { 
	0% { 
		color: silver; 
	} 

	100% { 
		color: black; 
	} }


.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}


.strip {
	display: flex;
	color: lightgray;
	margin: 0;
	padding: 0;
}

.number {
	color: black;
	padding: 0 1rem;
	font-weight: 100;
}

.homebutton {
	padding-right: 0.5rem;
}

.push-right {
	margin-left: auto;
}


.folio h1{
	color: lightgray;
}

.folio h2 {
	font-weight: 500;
	font-size: 1.2rem;
	color: black;
}

.folio h3 {
	font-weight: 300;
	color: darkred;
}